<!DOCTYPE html>
<html>
<head>
	<title> Item Properties </title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="stylesheet" type="text/javascript" href="../static/js/script.js">
</head>
<body>

	<div class="top">
		<a class='default-link' href="../../">
			<h1 class="header"> R E T R I E V E R </h1>
			<h3 class="slogan"> Restoring your valuables one item at a time. </h3>
		</a>
	</div>

	<div id="properties">
		<h2 id="prop1"> Name: {{obj.name}} </h2>
		<h2 id="prop2"> Zip Code: {{obj.zip}} </h2>
		<h2 id="prop3"> Description: {{obj.desc}} </h2>
		<h2 id="prop4"> Email: {{obj.email}} </h2>
	</div>


	<div class="foot">
		<footer>
			© 2019 Retriever for HackNYU
		</footer>
	</div>

</body>
</html>
