<!DOCTYPE html>
<html>
<head>
	<title> Item Properties </title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="stylesheet" type="text/javascript" href="../static/js/script.js">
	<style>
		#map {
			width: 50%;
			height: 400px;
			background-color: grey;
			/* display: inline-block; */
		}
	</style>	
</head>
<body>

	<div class="top">
		<a class='default-link' href="../../">
			<h1 class="header"> R E T R I E V E R </h1>
			<h3 class="slogan"> Restoring your valuables one item at a time. </h3>
		</a>
	</div>

	<div id="properties">

		<div id="thanks"><h1>Here are the details for this item!</h1></div>

		<div id="props">
			<h2 id="prop1"> Name:&nbsp&nbsp {{obj.name}} </h2>
			<h2 id="prop2"> Zip Code:&nbsp&nbsp {{obj.zip}} </h2>
			<h2 id="prop3"> Description:&nbsp&nbsp {{obj.desc}} </h2>
			<h2 id="prop4"> Email Contact:&nbsp&nbsp {{obj.email}} </h2>
			
		</div>

		<div id="map"></div>

	</div>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACdo1jcNdemqdahvcFakSi4QtMBNNY-OI&callback=initMap">
    </script>

    <script type="text/javascript">
    
    function getCoordinates(address){
      return fetch(address)
      .then(response => response.json())
      .then(data => {
      const latitude = parseFloat(data.results['0'].geometry.location.lat);
      const longitude = parseFloat(data.results['0'].geometry.location.lng);
      center = {latitude, longitude};
      return center;
      })
    }

    const zipC = {{obj.zip}};
    const req = `https://maps.googleapis.com/maps/api/geocode/json?address=${zipC}&key=AIzaSyACdo1jcNdemqdahvcFakSi4QtMBNNY-OI`;

    //var uluru = getCoordinates(req).then(coord => console.log(coord));
    //console.log(uluru)
    // Initialize and add the map
    async function initMap() {
      // The location of the zip code
      var uluru = await getCoordinates(req);
      console.log(typeof(uluru.latitude))
      // The map, centered at Uluru
      var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 15, 
          center: {lat: uluru.latitude, lng: uluru.longitude}});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: {lat: uluru.latitude, lng: uluru.longitude}, map: map});
    }

	</script>

	<div class="foot">
		<footer>
			© 2019 Retriever for HackNYU
		</footer>
	</div>

</body>
</html>
