<!DOCTYPE html>
<html>
<head>
	<title> Report </title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/report_form_style.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="stylesheet" type="text/javascript" href="../static/js/script.js">
</head>
<body>

	<div class="top">
		<a class='default-link' href='../'>
			<h1 class="header"> R E T R I E V E R </h1>
			<h3 class="slogan"> Restoring your valuables one item at a time. </h3>
		</a>
	</div>

	<div>
		<h2 id="report_header"> Report a Found Item </h2>
	</div>

	<form action="/report" method="post">

		<div>
		    <label>Email:</label>
		    <input type="text" id="email" name="user_email">
		</div>

		<div>
		    <label>Item Found:</label>
		    <input type="item" id="item_found" name="item_found">
		</div>

		<div>
		    <label>Zip Code:</label>
		    <input type="item" id="zip_found" name="zip_found">
		</div>

		<div>
		    <label>Description:</label>
		    <textarea id="description" name="item_description"></textarea>
		</div>

		<div>
			<input id="pic" type="submit" accept="image/*" value="Add a photo">
		</div>

		<input id="final_report" type="submit" value="Report Item!">

	</form>

	<div class="foot">
		<footer>
			© 2019 Retriever for HackNY
		</footer>
	</div>

</body>
</html>
