<!DOCTYPE html>
<html>
<head>
	<title> Search </title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/search_form_style.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="stylesheet" type="text/javascript" href="../static/js/script.js">
</head>
<body>
	<div class="top">
		<a class='default-link' href='../'>
			<h1 class="header"> R E T R I E V E R </h1>
			<h3 class="slogan"> Restoring your valuables one item at a time. </h3>
		</a>
	</div>

	<div>
		<h2 id="search_header"> Search for a Lost Item </h2>
	</div>

	<form action="/search" method="post">

		<div>
		    <label>Lost Item:</label>
		    <input type="item" id="item" name="item_lost">
		</div>

		<div>
		    <label> Zip Code:</label>
		    <input type="zip" id="zip" name="item_lost_zip">
		</div>

		<input id="final_search" type="submit" value="Search Item!">
				
	</form>

	<div class="foot">
		<footer>
			© 2019 Retriever for HackNY
		</footer>
	</div>

</body>
</html>